/*
.card.text-white {
  // Dispositivos móveis bem pequenos (até 480px)
  @media (max-width: 576px) {
  }

  // Tablets e dispositivos semelhantes (481px a 768px)
  @media (min-width: 576px) and (max-width: 768px) {

  }

  // Dispositivos medios
  @media (min-width: 768px) and (max-width: 992px) {

  }

  // Desktops e laptops (769px a 1024px)
  @media (min-width: 992px) and (max-width: 1200px) {
    .mb-0.fw-r {
      font-size: 0.8rem;
    }
    .card-right {
      i {
        font-size: 10px !important;
      }
    }
  }

  // Telas maiores (1025px em diante)
  @media (min-width: 1200px) {
    .mb-0.fw-r {
      font-size: 1rem;
    }
    i {
      font-size: 3rem !important;
    }
  }

}*
 */

.buttons-card {
  display: grid;
  cursor: pointer !important;
  .ti-plus {
    font-weight: bold !important;
  }
  .ti-trash {
    padding-top: 30px !important;
  }
}

.row {
  max-width: calc(100vw - 25px - 280px - 1.875rem);
}