.nav.nav-tabs {
  .nav-item {
    
  }

  .nav-link {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #fafafa;
    border-color: transparent !important;
    &:hover {
      filter: saturate(1.5);
    }
    &.active {
      font-weight: bold;
      border-color: transparent !important;
      &:hover {
        filter: none;
      }
    }
  }
}

.nav-content {
  background: #fafafa !important;
}

.card-title {
  color: #fafafa;
  font-family: sans-serif;
  font-size: 20px;
}